.person {
    display: flex;
    // flex-flow: column;
    gap: 93px;
    // padding: 40px;

    @media (max-width: $screen-lg - 1) {
        flex-flow: column;
        padding: 40px;
    }

    @media (min-width: $screen-lg) {
        flex-flow: row;
        padding: 90px 103px 94px 78px;
    }

    &__column {
        &:first-child {
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }

    &__image {
        width: 269px;
        height: 269px;
        margin-bottom: 24px;

        @media (min-width: $screen-xlg) {
            width: 369px;
            height: 369px;
        }
    }

    &__description {
        margin-bottom: 6px;
        font-family: $font-ruberoid;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: $color-black;

        &::after {
            content: "";
            width: 82%;
            display: inline-block;
            border-bottom: 1px solid $color-grey;
        }
    }

    &__email {
        margin-bottom: 16px;
        font-family: $font-ruberoid;
        font-weight: 400;
        font-size: 24px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        color: $color-orange;

        &:hover {
            text-decoration: underline;
        }
    }

    &__block {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }

    &__block-title {
        margin-bottom: 24px;
        font-family: $font-ruberoid;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        color: $color-black;
    }

    &__block-text {
        font-family: $font-roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: $color-black;
    }

    &__accordion {

    }

    &__item {
        margin-top: 30px;
        border: 1px solid $color-bg;
        background: $color-white;
    }

    &__item-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 27px 37px;
        text-align: left;
    }

    &__item-title {
        font-family: $font-gtetext;
        font-weight: 400;
        font-size: 28px;
        line-height: 30px;
        color: $color-black;
    }

    &__item-title-close {
        display: block;

        .is-active & {
            display: none;
        }
    }

    &__item-title-open {
        display: none;

        .is-active & {
            display: block;
        }
    }

    &__item-icon {
        .icon-plus {
            display: block;

            .is-active & {
                display: none;
            }
        }

        .icon-minus {
            display: none;

            .is-active & {
                display: block;
            }
        }
    }

    &__item-text {
        // height: 0;
        padding: 0 39px 48px 37px;
        font-family: $font-gtedisplay;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        color: $color-text;
        display: none;
        transition: display 0.5s ease;

        .is-active & {
            display: block;
            // height: auto;
        }
    }
}