.team {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 102px 86px;
    justify-items: center;
    padding: 71px 80px 130px 78px;
    background: $color-bg;

    @media (min-width: $screen-md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $screen-xlg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $screen-xxlg) {
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 239px;
    }

    &__image {
        width: 239px;
        height: 239px;
        margin-bottom: 24px;
    }

    &__title {
        margin-bottom: 12px;
        font-family: $font-ruberoid;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: $color-black;
    }

    &__description {
        margin-bottom: 6px;
        font-family: $font-roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $color-black;
    }

    &__link {
        font-family: $font-roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: $color-orange;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

