.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 48px 100px;
  height: 285px;
  background: $color-main;

  &__title {
    font-family: $font-ruberoid;
    font-size: 54px;
    line-height: 54px;
    font-weight: 500;
    color: $color-white;
  }

}