// Colors
$color-main: #3E6D77;
$color-text: #0C0F10;
$color-black: #000000;
$color-orange: #EF823F;
$color-white: #ffffff;
$color-grey: #E0E2EE;
$color-bg: #F5F5F5;

// Fonts
$font-roboto: 'Roboto';
$font-ruberoid: 'Ruberoid';
$font-gtetext: 'GTEestiProText';
$font-gtedisplay: 'GTEestiProDisplay';

// Screen
$screen-sm: 400px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xlg: 1360px;
$screen-xxlg: 1600px;